<li>
  <a href="<%- url_for("/archives") %>"
    class="nav-link<%- page.path.match(/(archive|^index\.html$)/) ? ' current' : '' %>"
    >
    ARCHIVE
  </a>
</li>
<li>
  <a href="<%- url_for("/categories") %>"
    class="nav-link<%- page.path.match(/categories/) ? ' current' : '' %>"
    >
    CATEGORY
  </a>
</li>
<li>
  <a href="<%- url_for("/about") %>"
    class="nav-link<%- page.path.match(/about/) ? ' current' : '' %>"
    >
    ABOUT
  </a>
</li>
<% if (theme.rss){ %>
  <li>
    <a id="nav-rss-link" class="nav-link" href="<%- theme.rss %>" title="<%= __('rss_feed') %>">
      RSS
    </a>
  </li>
<% } %>
